@keyframes heartbeat {
    from {
        transform: scale(1);
    }
    50% {
        transform: scale(1.3);
    }
    to {
        transform: scale(1);
    }
}
@keyframes shake {
    from {
        transform: rotate(0deg);
    }
    33% {
        transform: rotate(5deg);
    }
    66% {
        transform: rotate(-5deg);
    }
    to {
        transform: rotate(0deg);
    }
}