@function calcFluidFontSize($f-min, $f-max, $v-min, $v-max) {
	$k: ($f-max - $f-min)/($v-max - $v-min);
	$b: $f-min - $k * $v-min;

	$b: $b * 1px;

	@return calc(#{$k} * 100vw + #{$b});
}




@media (max-width: 1199px) {

	.prev,
	.next {
		display: none;
	}
}

@media (max-width: 991px) {}

@media (max-width: 767px) {
	.header {
		&__phone {
			font-size: 16px;
		}

		&__official {
			display: none;
		}
	}

	.advantages {
		padding: 50px 0 50px 0;

		&__elements {
			margin-top: 0;
			flex-direction: column;
		}

		&__element {
			flex-direction: row;
			margin-top: 50px;
			max-width: 400px;
		}

		&__descr {
			margin: 10px 0 0 20px;

			h3 {
				margin-bottom: 10px;
			}
		}
	}

	.title_left {
		font-size: 30px;
	}

	.consultation {
		&__descr {
			font-size: 18px;
		}
	}

	.carousel {
		.tns-item {
			img {
				width: 100%;
				height: auto;
			}
		}
	}

}

@media (max-width: 575px) {
	.header {
		&__logo {
			max-width: 150px;
		}

		&__phone {
			font-size: 12px;
		}
	}

	.button_header {
		max-width: 120px;
	}

	.promo {
		&__wrapper {
			align-items: center;
		}

		&__header {
			font-size: 34px;
			text-align: center;
		}

		&__subheader {
			font-size: 24px;
			text-align: center;
		}

		&__icons {
			width: auto;
		}
	}

	.consultation {
		padding: 50px 0;

		&__descr {
			text-align: center;

			span {
				@include no-line-break;
			}
		}
	}

	.title_left {
		text-align: center;

		span {
			display: none;
		}
	}

	.feed-form {
		width: 100%;
	}

	.catalog {
		&__tabs {
			flex-direction: column;
		}
	}

	.feedbacks {
		&__item {
			flex-direction: column;
			grid-gap: 20px;
		}

		&__title,
		&__subtitle {
			text-align: center;
		}
	}

	.modal {
		width: 90%;
		max-width: 380px;

		&__subtitle {
			font-size: calcFluidFontSize(15, 19, 320, 575);
		}

		&__descr {
			font-size: calcFluidFontSize(10, 14, 320, 575);
		}

		&__close {
			top: 5px;
			right: 5px;
		}
	}

	.feed-form {
		input {
			font-size: calcFluidFontSize(10, 14, 320, 575);
		}
	}

	.button {
		&_submit {
			font-size: calcFluidFontSize(12, 16, 320, 575);
		}
	}

	.footer {
		&__info {
			width: 100%;
			max-width: 460px;
			padding: 50px 10px 60px 10px;
		}

		&__addr {
			font-size: 18px;
		}

		&__phone {
			font-size: 18px;
		}

		&__social {
			&_item {
				&:hover {
					background: $main-color;
					color: #fff;
				}
			}
		}
	}
}