@media (max-width: 1199px) {

}

@media (max-width: 991px) {

}

@media (max-width: 767px) {
	.header {
		&__phone {
			font-size: 16px;
		}
		&__official {
			display: none;
		}
	}
	.advantage {
		padding: 50px 0 50px 0;
		&__elements {
			margin-top: 0;
			flex-direction: column;
		}
		&__element {
			margin-top: 50px;
			max-width: 400px;
		}
		&__descr {
			margin-top: 10px;
			h3 {
				margin-bottom: 10px;
			}
		}
	}
}

@media (max-width: 575px) {
	.header {
		&__logo {
			max-width: 150px;
		}
		&__phone {
			font-size: 12px;
		}
	}
	.button_header {
		max-width: 120px;
	}
	.promo {
		&__wrapper {
			align-items: center;
		}
		&__header {
			font-size: 34px;
			text-align: center;
		}
		&__subheader {
			font-size: 24px;
			text-align: center;
		}
		&__icons {
			width: auto;
		}
	}
}