@mixin button-hover {
    &:hover {
        background: rgb(160, 0, 0)
    }
}

@mixin link-hover {
    &:hover {
        color: #FFF;
        text-decoration: none;
    }
}

@mixin line-break {
    &::before {
        content: "\A";
        white-space: pre;
    }
}

@mixin no-line-break {
    &::before {
        content: " ";
        white-space: normal;
    }
}