.carousel {
	padding: 81px 0;
	&__slider {
		position: relative;
		width: 750px;  
		margin: 0 auto;
	}

	.tns-item {
		img {
			display: block;
			margin: 0 auto;
		}
	}

	.tns-nav {
		display: flex;
		align-items: center;
		justify-content: center;
		button {
			background: red;
			width: 1rem;
			height: 1rem;
			border-radius: 100%;
			border: none;
			margin: 0 5px;
		}
		.tns-nav-active {
			background: rgb(109, 51, 0);
		}
	}

	&__slider {
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.tns-controls {
		position: relative;
	}

	.prev, .next {
		position: absolute;
		top:50%;
		transform: translateY(-50%);
		left: -66px;
		border: none;
		background-color: #fff;
		img {
			height: 50px;
			width: 31px;
		}
	}

	.next {
		left: auto;
		right: -66px;
	}
}
