.feedbacks {
    padding-bottom: 71px;
    &__wrapper {
        margin-top: 70px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 100px;
    }
    &__img {
        width: 169px;
        height: 169px;
    }
    &__item {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 62px;
    }
    &__text {
        max-width: 660px;
    }
    &__title {
        margin: 0 0 6px 0;
        color: #0d0d0d;
        font-size: 18px;
        font-weight: 700;
    }
    &__subtitle {
        margin: 0 0 14px 0;
        color: #646464;
        font-size: 14px;
        font-weight: 300;
    }
    &__descr {
        color: #0d0d0d;
        font-size: 16px;
        font-weight: 300;
        line-height: 20px;
    }



}