.feed-form {
    margin-top: 36px;
    display: flex;
    flex-direction: column;
    width: 300px;
    position: relative;
    input {
        width: 100%;
        height: 50px;
        border-radius: 5px;
        background: #ffffff;
        margin-bottom: 15px;
        border: none;
        padding: 0 20px;
        font-weight: 500;
        font-size: 14px;
        color: #4b4b4b;
        &:nth-child(3) {
            margin-bottom: 20px;
        }
        &:focus {
            outline: none;
            border: none;
        }
    }
    &_mt25 {
        margin-top: 25px;
    }

    input[type='number']::-webkit-outer-spin-button,
    input[type='number']::-webkit-inner-spin-button {
        -webkit-appearance: none;
    }

    input[type='number'],
    input[type='number']:hover,
    input[type='number']:focus {
        appearance: none;
        -moz-appearance: textfield;
    }

    &__error {
        color: #fff;
        font-weight: 500;
        font-size: 14px;
        position: absolute;
        bottom: -30px;
        width: 100%;
        text-align: center;
        &_black {
            color: #000;
        }
    }
}
